<template>
  <div class="main-page">

    <!-- HEADER -->
    <div class="main-page__header">
      <div class="main-page__header-name">
        MINEBOXES
      </div>
      <div class="main-page__header-title">
        ИГРАЙ С ДРУЗЬЯМИ
      </div>
      <b-button v-on:click="hideLauncher" variant="warning" class="main-page__header-hide-btn">
        _
      </b-button>
      <b-button v-on:click="closeLauncher" variant="warning" class="main-page__header-close-btn">
        <close-circle-outline/>
      </b-button>
    </div>

    <!-- SERVER LIST -->
    <template v-if="launcherSettings">
      <div class="main-page__server-panel">
        <div class="main-page__server-list-blur"></div>
        <div class="main-page__server-list">
          <!--          <div v-for="item in 5" v-bind:key="item.id"-->
          <div v-for="item in launcherSettings.adServersMain" v-bind:key="item.id"

               class="main-page__server-list-item">
            <div class="main-page__server-list-item-name">
              {{ item.name }}
            </div>
            <div class="main-page__server-list-item-description">
              {{ item.description }}
            </div>
            <b-button v-if="item.discordLink" v-on:click="openShop(item.discordLink)" variant="danger" size="sm"
                      class="main-page__server-list-item-shop-btn">
              <md-cart-icon/>
            </b-button>
            <b-button size="sm"
                      v-on:click="openMC({ isServer: true, serverData: { id: item.id, ip: item.ip, port: item.port, version: item.version.version } })"
                      variant="success" class="main-page__server-list-item-play-btn">
              Играть
            </b-button>
          </div>
        </div>
      </div>


      <div class="main-page__info-list">

        <!-- CONNECTION -->
        <!--        <div  class="main-page__info-list-connection" >-->
        <!--          <iosWifiIcon/> Подключение {{connectionState}}-->
        <!--        </div>-->
        <div class="main-page__info-list-connection" v-if="isConnection == false">
          <iosWifiIcon/>
          Подключение {{ connectionState }}
        </div>
      </div>

      <!-- USERNAME -->
      <div class="main-page__footer">
        <div class="main-page__footer-label">
          Ваш ник
        </div>
        <b-input class="main-page__footer-username-field" v-model="username"
                 v-on:focusout="saveUsername"></b-input>

        <!-- ВЕРСИИ -->
        <div class="main-page__footer-checkbox-group">
          <b-form-checkbox
              id="checkbox-1"
              v-model="isAllVersions"
              name="checkbox-1"
              class="main-page__footer-checkbox-group-elem"
              :value="true"
              :unchecked-value="false"
          >
            Показать все версии
          </b-form-checkbox>
          <b-form-checkbox
              id="checkbox-2"
              v-model="isForgeVersions"
              name="checkbox-2"
              class="main-page__footer-checkbox-group-elem"
              :value="true"
              :unchecked-value="false"
          >
            Показать версии для модов
          </b-form-checkbox>
        </div>
        <b-dropdown v-if="versionsReady && isForgeVersions" id="dropdown-dropup" dropup
                    :text="'Версия: ' + currentVersion"
                    variant="warning" class="main-page__footer-versions-btn m-2"
                    :menu-class="'main-page__footer-versions-list-lg'">
          <b-dropdown-item-button v-for="(version, index) in versionListReady" v-bind:key="index"
                                  @click="setForgeVersion(version)">Forge: {{ version.mcversion }}
          </b-dropdown-item-button>
        </b-dropdown>
        <b-dropdown v-else-if="versionsReady && !isForgeVersions" id="dropdown-dropup" dropup
                    :text="'Версия: ' + currentVersion"
                    variant="warning" class="main-page__footer-versions-btn m-2"
                    :menu-class="isAllVersions || !isConnection ? 'main-page__footer-versions-list-lg' : 'main-page__footer-versions-list-sm'">
          <b-dropdown-item-button v-for="(version, index) in versionListReady" v-bind:key="index"
                                  v-on:click="setVersion(version.id)">Версия: {{ version.id }}
          </b-dropdown-item-button>
        </b-dropdown>
        <!-- Open Folder -->
        <a class="main-page__footer-icon-openFolder" @mouseover="isOpenFolderHover = true"
           @mouseleave="isOpenFolderHover = false">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
               class="main-page__footer-icon-openFolder-bi-bi -folder"
               viewBox="0 0 16 16">
            <path
                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <a @click="openModsFolder" class="main-page__footer-icon-openFolder-mods"
             v-show="isOpenFolderHover == true">
            Mods
          </a>
          |
          <a @click="openResFolder" class="main-page__footer-icon-openFolder-res"
             v-show="isOpenFolderHover == true">
            Res
          </a>
        </a>

        <!--        <div class="main-page__footer-pop-icon-openFolder" v-show="isOpenFolderHover == true">-->
        <!--          Нажмите сюда, чтобы открыть папку с игрой-->
        <!--        </div>-->

        <!-- PLAY BUTTON -->
        <b-button class="main-page__footer-play-btn" v-if="!isForgeVersionChoosen" v-on:click="openMC"
                  variant="success">
          Играть
        </b-button>
        <b-button class="main-page__footer-play-btn-forge" v-else @click="openForge({doLaunch: true})">
          <!-- Передаю params, чтобы избежать ошибки при нажатии на кнопку (2 клика) Можно вписать её прям в функцию-->
          Играть с модами
        </b-button>
      </div>
    </template>
    <template v-else>
      <div class="main-page__loading">

      </div>
    </template>

    <!-- УСТАНОВКА -->
    <b-modal id="installing-mc" centered :no-close-on-backdrop="true" :no-close-on-esc="true" :hide-header="true"
             :hide-footer="true" content-class="loading-modal-content" body-class="loading-modal-body">
      <p>Майнкрафт устанавливается, подожди немного.</p>
      <div class="loading-modal-body-empty-item"></div>
      <rotate-square2 size="30px" background="#dc3545"/>
      <div class="loading-modal-body-empty-item"></div>
      <b-progress class="mt-2 loading-modal-body-progress-bar" :max="installationProgressTotal">
        <b-progress-bar :value="installationProgressCurrent" variant="danger"></b-progress-bar>
      </b-progress>
    </b-modal>

    <!-- ЗАПУСК -->
    <b-modal id="lauching-mc" centered :no-close-on-backdrop="true" :no-close-on-esc="true" :hide-header="true"
             :hide-footer="true" content-class="loading-modal-content" body-class="loading-modal-body">
      <p>Майнкрафт запускается, подожди немного.</p>
      <div class="loading-modal-body-empty-item"></div>
      <rotate-square2 size="30px" background="#dc3545"/>
    </b-modal>

    <!-- ПРИЛОЖЕНИЕ ЗАПУЩЕНО -->
    <b-modal id="launched-mc" centered :no-close-on-backdrop="true" :no-close-on-esc="true" :hide-header="true"
             :hide-footer="true" content-class="loading-modal-content" body-class="loading-modal-body">
      <p>Майнкрафт запущен, наслаждайтесь игрой.</p>
      <div class="loading-modal-body-empty-item"></div>
      <rotate-square2 size="30px"/>
    </b-modal>
  </div>
</template>

<script>
import electron from 'electron';
import MdCartIcon from 'vue-ionicons/dist/md-cart.vue';
import {RotateSquare2} from 'vue-loading-spinner';
import CloseCircleOutline from 'vue-ionicons/dist/md-close-circle-outline';
import iosWifiIcon from 'vue-ionicons/dist/ios-wifi'

export default {
  name: "mainPage",
  data: function () {
    return {
      versionsReady: false,
      // Checkboxes
      isAllVersions: false,
      isForgeVersions: false,
      // Open Folder icon
      folderUrl: '/',
      isOpenFolderHover: false,
      // Version arrays
      installedVersionsList: [],
      versionsList: [],
      versionsListReleasesOnly: [],
      versionsListAll: [],
      forgeVersionsList: [],
      fullForgeChosenVersion: {},
      // Player Data
      username: 'Mineboxes',
      currentVersion: '1.5.2',
      mcVersion: '1.0',
      launcherSettings: false,
      isForgeVersionChoosen: false,
      // Connection check
      connectionState: 'отсутствует',
      isConnection: null,
      // Progress bar
      installationProgressCurrent: 0,
      installationProgressTotal: 100,
    }
  },
  components: {
    MdCartIcon, RotateSquare2, CloseCircleOutline, iosWifiIcon
  },
  computed: {
    versionListReady: function () {
      if (this.isAllVersions) {
        return this.versionsListAll;
      } else if (this.isForgeVersions) {
        return this.forgeVersionsList
      } else {
        return this.versionsListReleasesOnly;
      }
    }
  },
  watch: {
    isForgeVersions: function (newValue) {
      if (newValue) {
        this.isAllVersions = false;
      }
    },
    isAllVersions: function (newValue) {
      if (newValue) {
        this.isForgeVersions = false;
      }
    },
    isConnection: function (newValue) {
      if (this.isConnection == true) {
        electron.ipcRenderer.send('mc-events', {action: 'get-mc-versions'})
        electron.ipcRenderer.send('mc-events', {action: 'get-forge-versions'});
      } else {
        this.connectionState = 'отсутствует';
        electron.ipcRenderer.send('mc-events', {action: 'get-mc-versions'})
        electron.ipcRenderer.send('mc-events', {action: 'get-forge-versions'});
      }
    }
  },
  methods: {
    // BACKEND

    /**
     * Открытие майнкрафт
     * @param {Object} params
     * @param {Boolean} params.isServer - флаг на запуск сразу на сервер
     * @param {Object} params.serverData - данные сервера для запуска
     * @param {string} params.serverData.version - версия сервера
     * @param {string} params.serverData.ip - ip адрес сервера
     * @param {number} params.serverData.port - порт сервера
     */
    openMC: function (params) {
      function getRandomInt(max) {
        return Math.floor(Math.random() * max);
      }

      if (this.username == 'Mineboxes' || this.username == '' || this.username == ' ') {
        this.username = "Mineboxes" + getRandomInt(1000000)
      }
      if (params.isServer) {
        electron.ipcRenderer.send(
            'mc-events',
            {
              action: 'open-server',
              username: this.username,
              version: params.serverData.version,
              ip: params.serverData.ip,
              port: params.serverData.port,
              id: params.serverData.id,
            }
        );
      } else {
        electron.ipcRenderer.send(
            'mc-events',
            {
              action: 'open-mc',
              username: this.username,
              version: this.currentVersion,
            }
        );
      }

    },

    /**
     * Запуск Forge версии
     */
    openForge: function (params) {
      function getRandomInt(max) {
        return Math.floor(Math.random() * max);
      }

      if (this.username == 'Mineboxes' || this.username == '' || this.username == ' ') {
        this.username = "Mineboxes" + getRandomInt(1000000)
      }

      if (params.doLaunch) {
        electron.ipcRenderer.send(
            'forge-events',
            {
              action: 'open-forge',
              username: this.username,
              forgeVersion: this.fullForgeChosenVersion,
            }
        );
      }

    },
    openShop: function (url) {
      const {shell} = require('electron')
      shell.openExternal(url)
    },
    checkSystem: function (param) {
      if (param == 'servers.dat') {
        electron.ipcRenderer.send('mc-events', {action: 'chk-servers-dat'});
      } else if (param == 'chk-installed-versions') {
        electron.ipcRenderer.send('mc-events', {
          action: 'chk-installed-versions',
          version: this.currentVersion
        });
      }

    },
    setForgeVersion: function (version) {
      this.isForgeVersionChoosen = true;
      this.currentVersion = version.mcversion;
      this.fullForgeChosenVersion = version;
      electron.ipcRenderer.send('service-events', {
        action: 'set-Forgelauncher-settings',
        lastVersion: this.launcherSettings.lastVersion,
      });
    },
    setVersion: function (version) {
      this.launcherSettings.lastVersion = version;
      electron.ipcRenderer.send('service-events', {
        action: 'set-launcher-settings',
        lastVersion: this.launcherSettings.lastVersion,
      });
      this.currentVersion = version;
      this.isForgeVersionChoosen = false;
    },
    saveUsername: function () {
      this.launcherSettings.lastUsername = this.username;
      electron.ipcRenderer.send('service-events', {
        action: 'set-launcher-settings',
        lastUsername: this.launcherSettings.lastUsername,
      });
    },
    hideLauncher: function () {
      electron.ipcRenderer.send('service-events', {action: 'hide-launcher'});
    },
    closeLauncher: function () {
      electron.ipcRenderer.send('service-events', {action: 'close-launcher'});
    },
    openModsFolder: function () {
      electron.ipcRenderer.send('service-events', {action: 'open-mods-folder'});
    },
    openResFolder: function () {
      electron.ipcRenderer.send('service-events', {action: 'open-res-folder'});
    }
  },
  mounted: async function () {
    async function reloadServerList() {
      await electron.ipcRenderer.send('service-events', {action: 'get-launcher-settings'});
      await new Promise(r => setTimeout(r, 10000));
      if (this.launcherSettings.adServersMain.length == 0) {
        reloadServerList;
      }
    }

    console.log('main-page just mounted');


    electron.ipcRenderer.on('check-events', (event, arg) => {
      if (arg.action == 'check-connection') {
        this.isConnection = arg.result;
      }
    });
    electron.ipcRenderer.on('mc-events', (event, arg) => { // Получение списка версий
      this.versionsList = [];
      if (arg.action == 'versions') {
        this.versionsListReleasesOnly = [];
        this.versionsListAll = arg.data.versions;
        arg.data.versions.forEach(version => {
          if (version.type == 'release') {
            this.versionsListReleasesOnly.push(version); //
          }
        });
        this.versionsList = this.versionsListReleasesOnly;
        this.versionsReady = true;
      } else if (arg.action == 'installed-versions') {
        this.forgeVersionsList = [];
        console.debug('ARG DATA ' + arg.data);

        this.versionsListReleasesOnly = arg.data;
        this.versionsListAll = arg.data;
        this.versionsReady = true;
      } else if (arg.action == 'forge-versions') {
        this.forgeVersionsList = arg.data;
      }
    });
    electron.ipcRenderer.on('service-events', (event, arg) => {
      console.log('service-events', arg);
      if (arg.action == 'get-launcher-settings') {
        this.launcherSettings = arg.data;
        if (this.launcherSettings.lastUsername) {
          this.username = this.launcherSettings.lastUsername;
        }
        if (this.launcherSettings.lastVersion) {
          this.currentVersion = this.launcherSettings.lastVersion;
        }
        if (this.launcherSettings.mcversion) { // for Forge
          this.mcVersion = this.launcherSettings.mcversion;
        }
        if (this.launcherSettings.adServersMain.length == 0) {
          reloadServerList;
        }
      } else if (arg.action == 'error-log') {
        console.log(arg.data);
      } else if (arg.action == 'show-installing-modal') {
        this.$bvModal.show('installing-mc');
      } else if (arg.action == 'set-data-launching-modal') {
        this.installationProgressCurrent = arg.progressCurrent;
        this.installationProgressTotal = arg.progressTotal;
      } else if (arg.action == 'show-launching-modal') {
        this.$bvModal.show('lauching-mc');
      } else if (arg.action == 'show-launched-modal') {
        this.$bvModal.show('launched-mc');
      } else if (arg.action == 'hide-installing-modal') {
        this.$bvModal.hide('installing-mc');
        this.installationProgressCurrent = 0;
        this.installationProgressTotal = 100;
      } else if (arg.action == 'hide-launching-modal') {
        this.$bvModal.hide('lauching-mc');
      } else if (arg.action == 'hide-launched-modal') {
        this.$bvModal.hide('launched-mc');
      }
    });
    await electron.ipcRenderer.send('service-events', {action: 'get-launcher-settings'});
    await electron.ipcRenderer.send('check-events', {action: 'check-connection'});
    setInterval(async () => {
      await electron.ipcRenderer.send('check-events', {action: 'check-connection'});
    }, 5000)

  },
}
</script>

<style lang="scss">

*, *::before, *::after {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

input:focus, input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn {
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  height: 100% !important;
  border-color: unset !important;
  border-style: hidden !important;

  &-danger {
    background-color: #FFC453 !important;

    &:hover {
      background: #e1ad49 !important;
    }
  }

  &-success { // играть**
    background-color: #dc3545 !important;

    &:hover {
      background: #b73036 !important; // поиграться со цветом**
    }
  }

  &-danger:focus {
    background-color: #FFC453 !important;
  }

  &:focus {
    border-style: hidden !important;
    border-color: unset !important;
    box-shadow: unset !important;
  }
}

.dropdown-item {
  padding: 0.25rem 1rem !important;
}

.loading-modal-body {
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  font-weight: bold !important;
  font-size: 15px !important;
  background-color: rgba(218, 151, 73, 0.85) !important;
  padding: 30px 5px !important;

  &-empty-item {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }

  &-progress-bar {
    flex: 0 0 100%;
  }
}

.loading-modal-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  & p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  & .spinner::after {
    background: #dc3545 !important;
  }
}

.main-page {
  flex: 0 0 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: stretch;

  &__header {
    width: 100%;
    background-color: #da9749;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    align-self: flex-start;
    justify-content: flex-start;
    align-content: center;
    max-height: 50px;
    -webkit-app-region: drag;
    font-family: captain_toad_treasure_trackRg;
    letter-spacing: 3px;
    font-stretch: ultra-expanded;
    font-size: 20px;

    &-name {
      flex: 0 0 30%;
      display: inline-flex;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      -webkit-transform: scale(1, 1.34);
      margin-right: auto;
      text-shadow: 1px 1px 2px black;
      padding-top: 5px;
    }

    &-title {
      flex: 0 0 45%;
      display: flex;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      -webkit-transform: scale(1, 1.34);
      text-shadow: 1px 1px 2px black;
      padding-top: 5px;
    }

    &-hide-btn {
      flex: 0 0 5%;
      color: #ffffff;
      text-align: center;
      -webkit-app-region: no-drag;
      padding: 0 !important;
      margin-right: 5px;
      background-color: rgba(1, 1, 1, 0) !important;
      border-style: hidden !important;
      text-shadow: 1px 1px 2px black;
    }

    &-close-btn {
      flex: 0 0 5%;
      color: #ffffff;
      text-align: center;
      -webkit-app-region: no-drag;
      padding: 0 !important;
      background-color: rgba(1, 1, 1, 0) !important;
      border-style: hidden !important;
      text-shadow: 1px 1px 2px black;

      & .ion__svg {
        fill: white !important;
        text-shadow: 1px 1px 2px black;
        -webkit-filter: drop-shadow(1px 1px 2px rgba(10, 10, 10, 0.7));
        width: 50%;
        height: auto;
      }
    }
  }

  &__footer {
    z-index: 1000;
    width: 100%;
    display: flex;
    background-color: #da9749;
    flex-flow: row wrap;
    align-self: flex-end;
    align-content: center;
    padding: 10px;
    margin-top: auto;

    &:nth-child(1n) {
      margin-right: 5px !important;
      justify-self: flex-end;
    }

    &:last-child {
      padding: 10px !important;
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: Bold;
      margin-right: 10px;
      text-shadow: 1px 1px 2px black
    }

    &-checkbox-group {
      flex: 0 0 23%;
      display: flex !important;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: flex-start;

      &-elem {
        display: flex !important;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;

        & custom-control-input:focus {
          box-shadow: unset !important;
        }

        & input[type="checkbox" i]:focus {
          outline-offset: 0px !important;
          outline: none;
          -webkit-focus-ring-color: rgba(0, 0, 0, 0);
        }

        & custom-control-input:focus {
          box-shadow: none !important;
        }

        & custom-control-label::before {
          box-shadow: none !important;
        }
      }
    }

    &-versions-btn button {
      background-color: #ffffff !important;
      color: black !important;
      font-weight: normal !important;
      width: 172px;
    }

    &-versions-list-sm {
      max-height: 200px;
      width: 80px !important;
      margin-bottom: 100px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #ffffff !important;
    }

    &-versions-list-lg {
      max-height: 200px;
      width: 265px !important;
      margin-bottom: 100px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #ffffff !important;
    }

    &-username-field {
      flex: 0 0 16%;
      justify-self: flex-start;
      margin-right: auto;
      align-self: center;
    }

    &-icon-openFolder {
      background: white;
      padding: 0 10px;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      margin-left: 13px;
      align-content: center;
      justify-content: center;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      transition: width 0.1s cubic-bezier(0, 0, 1, 1) 10ms;
      line-height: 50px;

      &:hover {
        //background: #d1d1d1;
        text-decoration: none;
        width: 150px;
      }

      &-bi-bi-folder {
        margin: 8px 0;
      }

      &-mods {
        &:hover {
          text-decoration: none;
          color: red;
        }
      }

      &-res {
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
    }

    &-pop-icon-openFolder {
      color: black;
      background: white;
      position: absolute;
      right: 163px;
      bottom: 70px;
      padding: 7px;
      border-radius: 10px;
      width: 200px;
      font-size: 14px;
    }

    &-play-btn {
      flex: 0 0 17%;
      align-self: center;
      text-shadow: 1px 1px 2px black;

      &-forge {
        flex: 0 0 17%;
        align-self: center;
        text-shadow: 1px 1px 2px black;
        background: #00aaff;

        &:hover {
          background: #005fcb;
        }
      }
    }
  }

  &__info-list {
    position: absolute;
    display: flex;
    top: 45px;
    width: 30%;
    height: 540px;


    // Animation
    @keyframes slideIn {
      from {
        bottom: -50px;
      }
      75% {
        bottom: 4px;
        border-bottom-right-radius: 10px;
      }
      80% {
        bottom: 0px;
        border-bottom-right-radius: 0px;
      }
      85% {
        bottom: 2px;
        border-bottom-right-radius: 10px;
      }
      to {
        bottom: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    @keyframes pulse {
      from {
        background: red;
        color: #ffffff;
      }
      50% {
        background: #b30000;
        color: #cecece;
      }
      to {
        background: red;
        color: #ffffff;
      }
    }
    @keyframes pulse-icon {
      from {
        fill: #ffffff;
      }
      50% {
        fill: #cecece;
      }
      to {
        fill: #ffffff;
      }
    }

    &-connection {
      animation-duration: 0.7s, 1.3s;
      animation-iteration-count: 1, infinite;
      animation-name: slideIn, pulse;

      position: relative;
      bottom: 0px;
      display: inline-block;
      flex-flow: row nowrap;
      align-self: flex-end;
      align-content: center;
      background: red;
      color: black;
      width: 252px;
      height: 50px;
      padding: 13px 0px 0px 3px;
      border-top: 1px solid rgba(0, 0, 0, 0.44);
      border-right: 1px solid rgba(0, 0, 0, 0.44);
      border-top-right-radius: 15px;
      font-size: 11pt;
      font-weight: 900;
      text-align: left;

      .ion {
        display: inline-block;
        position: relative;
        top: -2px;

        .ion__svg {
          animation-duration: 1.3s;
          animation-iteration-count: infinite;
          animation-name: pulse-icon;

          width: 1.5em;
          height: 1.5em;
          fill: #cecece;
        }

      }


    }
  }

  &__server-panel {
    position: relative;
    width: 70%;
    height: 100%;
    max-height: 535px;
    justify-self: flex-start;
    align-content: space-between;
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
  }
  &__server-list {
    position: absolute;

    width: 100%;
    height: 100%;
    max-height: 600px;
    justify-self: flex-start;
    align-content: flex-start;
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    font-size: 9pt;
    margin-bottom: auto;

    & :last-child {
      margin-bottom: 0 !important;
    }

    &-item {
      flex: 0 0 100%;
      height: 45px;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      padding: 0 0px;
      background-color: white;
      width: 30px;

      &-name {
        flex: 0 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9pt;
        font-weight: bold;
        color: black;
        padding-right: 5px;
        padding-left: 5px;
        background-color: #FFC453;
        margin-right: 10px;
        min-width: 95px;
      }

      &-description {
        flex: 0 0 67%;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 8pt;
        color: black;
      }

      &-shop-btn {
        flex: 0 0 6%;
        border-radius: 0 !important;
        color: white;
        font-weight: bold;
        font-size: 15px;

        & .ion__svg {
          fill: white !important;
          text-shadow: 1px 1px 2px black;
          -webkit-filter: drop-shadow(1px 1px 2px rgba(10, 10, 10, 0.7));
        }
      }

      &-play-btn {
        flex: 0 0 10%;
        border-radius: 0 !important;
        padding: 0px 1px !important;
        text-shadow: 1px 1px 2px black;
      }
    }
    &-blur {
      position: absolute;
      display: flex;
      backdrop-filter: blur(8px);
      //background: rgba(255, 255, 255, 0.5);
      height: 100%;
      max-height: 600px;
      width: 730px;
    }
  }
}
</style>
